.container div{
    background-color: rgb(236, 236, 18);
    border: 2px solid rgb(8, 4, 5);
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 90px 90px 90px;
    justify-content: center;       
    grid-gap: 7px;
}